block variables
doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title ptit
        link(rel='stylesheet' href='/stylesheets/style.css')
        block extraHead
        block extraStyles
        block extraScripts

    body
        header
            block header

        p #{baseUrl}

        nav
            ul.topnav
                li
                    a(href=(baseUrl? baseUrl : '') + '/users/createaccount') Create Account
                li
                    a(href=(baseUrl? baseUrl : '') + '/users/signin') Sign In
                li
                    a(href=(baseUrl? baseUrl : '/')) Inici
        div
            if (msgAlert)
                div.alert
                    span.closebtn(onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;') &times;
                    strong Error!
                    |  #{msgAlert}
            if (msgSuccess)
                div.alert.success
                    span.closebtn &times;
                    strong Success!
                    |  #{msgSuccess}
            if (msgInfo)
                div.alert.info
                    span.closebtn &times;
                    strong Info!
                    |  #{msgInfo}
            if (msgWarning)
                div.alert.warning
                    span.closebtn &times;
                    strong Warning!
                    |  #{msgWarning}

        main
            block content

        footer
            p.small 2021
